@{
}
@model Bowler

<div class="card card-outline-primary m-1 p-1">
    <div class="bg-light p-1">
        <h4>@Model.BowlerFirstName</h4>
        <span class="badge bg-gradient" style="float:right">
            Middle Initial: @Model.BowlerMiddleInit
            Last Name: @Model.BowlerLastName

        </span>
    </div>


    <ul>
        <li>Project type: @Model.BowlerPhoneNumber</li>
        <li>Regional Program: @Model.BowlerCity</li>
        <li>Project Phase: @Model.BowlerState</li>
        <li>Project Status: @Model.BowlerZip</li>
    </ul>

    <form method="post" asp-page="/Edit">

        <input type="hidden" asp-for="@Model.BowlerID" />
        <input type="hidden" name="returnURL" value="@ViewContext.HttpContext.Request.PathAndQuery()" />

        <span class="card-text">
            <button type="submit" class="btn btn-success btn-sm float-end">Edit</button>
        </span>
    </form>
    <form method="post" asp-page="/Delete">

        <input type="hidden" asp-for="@Model.BowlerID" />
        <input type="hidden" name="returnURL" value="@ViewContext.HttpContext.Request.PathAndQuery()" />

        <span class="card-text">
            <button type="submit" class="btn btn-danger btn-sm float-end">Delete</button>
        </span>
    </form>

</div>

